<main>
    <div class="flowers width product">
        <div class="flowers__top product__top line_container">
            <h2 class="flowers__title product__title">Մերժում</h2>
            <div class="line"><img src="/Assets/images/fixed/decore2.webp" alt="Decore"></div>
        </div>
        <div class="flowers__container" style="text-align:center;">
            Պատվերի գրանցման ընթացքում առաջացել են խնդիրներ:<br>
            <!--Խնդրում ենք կապ հաստատել մեզ հետ  <a href="tel:37455707740">+374 (55) 70-77-40</a> կամ <a href="tel:37493797740">+374 (93) 79-77-40</a> հեռախոսահամարով-->
            Խնդրում ենք կապ հաստատել մեզ հետ  +374 (55) 70-77-40 կամ +374 (93) 79-77-40 հեռախոսահամարով
        </div>
    </div>
</main>
