<main>
    <div class="flowers width product">
        <div class="flowers__top product__top line_container">
            <h2 class="flowers__title product__title">Հաստատում</h2>
            <div class="line"><img src="/Assets/images/fixed/decore2.webp" alt="Decore"></div>
        </div>
        <div class="flowers__container" style="text-align:center;">
            Շնորհակալություն մեզ հետ համագործակցելու համար։<br>
            Պատվերը հաջողությամբ գրանցված է։ Մեր մասնագետը կապ կհաստատի Ձեզ հետ շուտով։
        </div>
    </div>
</main>
