<main>
    <div class="training width">
        <div class="training__image">
            <img src="/Assets/images/fixed/training.webp" alt="Training">
            <p class="training__name">Ուսուցում</p>
    </div>
        <div class="training__content">
            <h2 class="training__title">
                <span>«&nbsp;Dream Flowers&nbsp;»</span> ծաղկի և դիզայնի մասնագիտացված խանութ սրահում դուք կարող եք
                անցնել Ֆլորիստ դիզայնի դասընթացներ։
        </h2>
            <p class="training__text">
                Դասընթացները անցկացվում են շաբաթական 3 անգամ 1.5 ժամ տևողությամբ:Կուրսի ընդհանուր տևողությունն է 1-2
                ամիս: Խմբակային դասերն արժեն 30.000 դր ամսական, իսկ անհատական դասերն արժեն 50.000դր ամսական: Եթե
                հումքը տրամադրում է կենտրոնը, արժեքն է մեկ ամսվա համար՝ 100.000 ՀՀ դրամ:
                <span>Ավարտելիս տրվում է վկայական:</span>
        </p>
    </div>
</div>
</main>
